<body class="body2">
<%= render :partial => 'layouts/header' %>
  
  <div class="info">
    <div class="expertise">
      <p>
        <h4 class="areas"><u><strong>Areas of expertise:</strong></u></h4> 
        <ul>
          <li>Stress Management </li> 
          <li>Chronic Pain Relief </li> 
          <li>TMJ & Teeth Grinding </li> 
          <li>Headaches & Migraines </li> 
          <li>Neck & Back Pain </li> 
          <li>PTSD </li> 
          <li>Car Accidents </li> 
          <li>Depression & Anxiety </li> 
        </ul>
      </p>

      <br />

      <p>
        FSHLB Health Coach Lic.# 1263 <br />
        NCBTMB Provider #452863-12 <br />
        CA State CMT #23263 <br />
      </p>  

      <br />
      <div>
        <%= image_tag("dipl._cert2.jpg", :class => "cst-cert",:alt => "CST-D Certification") %>
        <a href= 'http://www.iahp.com/'><%= image_tag("IAHP.jpg", :class => "iahp", :alt => "IAHP link") %></a><br />
      </div>
      
      <div> 
        <%= image_tag("credit_cards.jpg", :class => "credit", :alt => "Accepted Credit Cards") %>
      </div>

      <br />

      <p>
        <h5 class="place"><strong>Burbank Craniosacral Therapy</strong></h5>
        <p>
          10000 Riverside Dr., #17 <br />
          Toluca Lake, CA 91602 
        </p>
      </p>
      
      <br />

      <p>
        <span class="session"><strong>Session Price:</strong></span> One Hour - $100 <br />
        Package Rates Available
      </p>

      <br />

      <p>
        <span class="serving"><strong>Serving:</strong></span>  Burbank, Glendale, <br /> 
        Pasadena, Los Angeles, <br />
        North Hollywood and <br />
        the San Fernando Valley
      </p>

      <br />

      <div class="button">
        <%= link_to 'Make an Appointment', therapy_path(:therapy_id), class: "btn btn-default"%>
      </div>
    </div>

    <div class="main">
      <h2 class="info-title"><strong>Craniosacral Therapy</strong></h2>
      <p>
        Is Chronic Pain, Anxiety, or Stress disrupting your life? If you're ready to live the productive life you long for, Craniosacral Therapy can help!
      </p>

      <br />

      <p>
        Craniosacral Therapy is a unique whole-person approach to health and healing that is one of the most gentle, yet powerful forms of alternative treatment available. Car Accidents, Falls, and Impact Injuries respond increadibly well to this work. When applied shortly after an accident, it can prevent trauma from settling into the soft tissues of your body. For older injuries, it can release trauma from the body's connective tissue and nervous system. Session results are long-lasting, and in many cases permanent since changes come from your own system.
      </p>

      <br />
      
      <p>
        Craniosacral Therapy is a combination of physical, energy, and hands-on techniques. It naturally relaxes your nervous system, reducing stress hormone levels in your body. This helps activate your body's innate healing response, and creates ideal conditions for better self-awareness, self-acceptance, and connection to your potential for growth and change.
      </p>

      <br />

      <p>
        Session results are immediate for most of my clients. My clients report that their sessions leave them feeling blissfully relaxed, centered, refreshed, and better able to handle stress. Please read more of what my clients have to say about their experiences on my <b><%= link_to 'YELP', 'http://www.yelp.com/biz/burbank-craniosacral-therapy-toluca-lake', :class => "yelp" %></b> page.
      </p>

      <br />

      <p>
        <span class="mission"><strong>Mission Statement:</strong></span>  
        My professional mission is to support your body's health and wholeness. By supporting your body's internal wisdom to make the changes you're ready for, we allow space for changes to come from within. When changes come from within they are more easily integrated, and more likely to be permanent. I acknowledge the power and wisdom that everyone's body holds for self-healing. My therapeutic mission is to support you in creating the healthy life you desire!
      </p>

      <br />

      <p class="signed-by">Gloria Flores, CST-D</p>
    </div>
  </div>
</div>
      
<p class="copyright">© 2013 by Gloria Flores, CST-D</p>