<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @therapy.name %>
</p>

<p>
  <strong>Therapy:</strong>
  <%= @therapy.therapy %>
</p>

<p>
  <strong>Address:</strong>
  <%= @therapy.address %>
</p>

<%= link_to 'Edit', edit_therapy_path(@therapy) %> |
<%= link_to 'Back', therapies_path %>
